.credits-div {
    background-image: url('./assests/tarotBack.jpg');
    height: 50vh;
    width: 300px;
    border-radius: 30px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noggovoso Personal Use';
    font-size: 3rem;
    padding: 0px, 0px;
    color: #ebbf3dfb;
    right: 20px;
}

.credits-overall {
    display: flex;
    flex-direction: column;
}

.section-top, .section-bot {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-mid {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.blurb {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: rgba(0, 0, 0, 0.575);
}

a {
    color: gold;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}