.readingPageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.readingTitle {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    margin: auto;
    color: #e7b92dce;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100vw;
}