body {
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: 500px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 48, 75, 0.541);
    background-image: url('./assests/tarotBack.jpg');
    background-size: 100%, contain;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: gold;
    font-size: 3rem;
}

a {
    color: rgba(190, 192, 90, 0.884);
    text-decoration: none;
    font-size: 5rem;
}

a:hover {
    text-shadow: 2px 2px 2px greenyellow;
}

button {
    background-color: rgba(90, 71, 102, 0.671);
    color: gold;
}

button:hover {
        box-shadow: 2px 2px 2px 2px gold;
}